.topbarContainer{
    height:50px;
    width:100%;
    background-color: #1877;
    display: flex;
    /* align-items: center; */
    position: sticky;
    top: 0;
}

.topbarLeft{
    flex:3;
    background-color: burlywood;
}
.topbarCenter {
    flex:5;
    background-color:darkseagreen;
}
.topbarRight{
    flex:4;
    background-color:lightgreen
}
.topbarPic{
    width:200px;
}